<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>277598766365-g4ggd03hsqjbup86q2u77bttbpg92ob6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.277598766365-g4ggd03hsqjbup86q2u77bttbpg92ob6</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>277598766365-j9hhl4ibf8n5htu57t8vvj7i4tcvnqpm.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC7nlZ7tOkpl-yxeqlx5hopDIdwe_Z8iVc</string>
	<key>GCM_SENDER_ID</key>
	<string>277598766365</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mfs.finwallet</string>
	<key>PROJECT_ID</key>
	<string>mfsbd-25488</string>
	<key>STORAGE_BUCKET</key>
	<string>mfsbd-25488.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:277598766365:ios:c6158bdd0d08f75724cdf4</string>
</dict>
</plist>